body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(images/gridbackground.png);

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    text-align: center;
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: 'Anybody', cursive;
}

h1{
    font-size: 7.5rem;
    margin-top: 0px;
}

.hiveText{
    color: rgb(219, 36, 219);
    text-shadow: 8px 8px rgb(43, 3, 43);
}

.button{
    text-align: center;
    display: inline-block;
}

.hiveListButton{
    font-size: 3rem;
    font-family: 'Anybody', cursive;

    background-color: rgb(219, 36, 219);
    border: none;
    padding: 15px 25px 15px 25px;
    margin: 10px 10px 10px 10px;
    box-shadow: 8px 8px;
} 

.weatherButton{
    font-size: 3rem;
    font-family: 'Anybody', cursive;

    background-color: #57c9e8;
    border: none;
    padding: 15px 25px 15px 25px;
    margin: 10px 10px 10px 10px;
    box-shadow: 8px 8px;
}

.hiveRollButton{
    font-size: 3rem;
    font-family: 'Anybody', cursive;

    background-color: #FAE986;
    border: none;
    margin: 10px 10px 10px 10px;
    padding: 15px 25px 15px 25px;
    box-shadow: 8px 8px;
}   

.hiveFlipButton{
    font-size: 3rem;
    font-family: 'Anybody', cursive;

    background-color: #82CBCC;
    border: none;
    padding: 15px 25px 15px 25px;
    margin: 10px 10px 10px 10px;
    box-shadow: 8px 8px;
} 


.pokédexButton{
    font-size: 3rem;
    font-family: 'Anybody', cursive;

    background-color: #ff4040;
    border: none;
    padding: 15px 25px 15px 25px;
    margin: 10px 10px 10px 10px;
    box-shadow: 8px 8px;
} 

.randomNoButton{
    font-size: 3rem;
    font-family: 'Anybody', cursive;

    background-color: rgb(219, 36, 219);
    border: none;
    padding: 15px 25px 15px 25px;
    margin: 10px 10px 10px 10px;
    box-shadow: 8px 8px;
}

.randomQuoteButton{
    font-size: 3rem;
    font-family: 'Anybody', cursive;

    background-color: #82CBCC;
    border: none;
    margin: 10px 10px 10px 10px;
    padding: 15px 25px 15px 25px;
    box-shadow: 8px 8px;
}   


.hiveXButton{
    font-size: 3rem;
    font-family: 'Anybody', cursive;

    background-color: #E8A2A2;
    border: none;
    padding: 15px 25px 15px 25px;
    margin: 10px 10px 10px 10px;
    box-shadow: 8px 8px;
} 


.MutualFButton{
    font-size: 3rem;
    font-family: 'Anybody', cursive;

    background-color: #57c9e8;
    border: none;
    padding: 15px 25px 15px 25px;
    margin: 10px 10px 10px 10px;
    box-shadow: 8px 8px;
} 


.activeButton:hover{
    transform: scale(1.1);
    transition-duration: 0.7s;
    box-shadow: 15px 15px;
}

footer{
    margin-top: 10%;
    padding: 3px;
    color: #232931;
    text-align: center;
    font-family: "Anybody";

    color: black;
}

.highlight{
    background-color: rgba(219, 36, 219, 0.47);
    padding: 3px
}

@media screen and (max-width: 600px)
{
    h1{
        font-size: 5rem;
        margin-top: 30px;
    }

    .button{
        margin: 10px 10px 10px 10px;
    }

    body{
        background-image: url(images/gridbackground\ mobile.png);
    }
}