body{
    height: 100vh;
    background-image: url(../images/gridbackground.png);
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: 'Anybody', cursive;
}

h1{
    font-size: 7.5rem;
    margin: 30px;
    font-family: 'Anybody', cursive;
    color: rgb(219, 36, 219);
    
}

.coin{
    text-align: center;
    display: inline-block;
}

#flipButton{
    font-size: 3rem;
    font-family: 'Anybody', cursive;

    background-color: #82CBCC;
    border: none;
    margin: 20px 10px 20px 10px;
    padding: 15px 25px 15px 25px;
    box-shadow: 8px 8px;
}

#flipButton:active{
    box-shadow: 12px 12px;
    transform: scale(0.9);
}

img{
    width: 60%;
}

footer{
    margin-top: 5%;
    color: #232931;
    text-align: center;
    font-family: "Anybody";
    
}

@media screen and (max-width: 600px)
{
    h1{
        font-size: 5rem;
        margin-top: 20px;
    }

    img{
        width: 50%;
    }

    body{
        background-image: url(../images/gridbackground\ mobile.png);
    }
}