body{

    height: 100vh;
    background-image: linear-gradient(135deg, rgb(184, 0, 194), rgb(0, 195, 202));
}

#container{
    display: block;
    text-align: center;
    justify-content: center;

    font-family: 'Anybody', cursive;

    margin: auto;

}


#counter{
    font-size: 10rem;
    margin-bottom: 30px;
}

.button{

    font-size: 2rem;
    font-family: 'Anybody', cursive;
    font-weight: 600;

    padding: 20px 25px;
    margin: 10px;

    box-shadow: 10px 8px;

    cursor: pointer;
}

.button:active{
    box-shadow: 12px 12px;
    transform: scale(0.9);

    background-image: linear-gradient(135deg, rgba(184, 0, 194, 0.676), rgba(0, 195, 202, 0.466));

    border: none;
}

@media screen and (max-width: 600px){

    .button{
        display: block;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #counter{
        margin-top: 40px;
    }
}