body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(./images/background\ wallpaper\ 1.jpg);

    display: flex;
    align-content: center;
    justify-content: center;
}

.container{
    display: flex;
    text-align: center;
    justify-content: center;

    width: 100%;
    margin: auto;
}

.leftSide{

    width: 50%
}

#pokemonName1{
    font-family: 'Anybody', cursive;
    margin-top: 0px;
}

#pokemonSprite{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rightSide{
    width: 50%;

    align-content: center;
    justify-content: center;
}

#pokemonName{
    display: inline-block;

    padding: 10px 35px 10px 15px;
    font-family: 'Anybody', cursive;
}

.pokédexButton{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

    font-size: 3rem;
    font-family: 'Anybody', cursive;

    background-color: #f4dc26;
    border: none;
    padding: 15px 25px 15px 25px;
    margin: 10px 10px 10px 10px;
    box-shadow: 8px 8px;
}

.pokédexButton:active{
    box-shadow: 12px 12px;
    transform: scale(0.9);
}

@media screen and (max-width: 600px)
{

    .container{
        display: block;
    }
    .rightSide{
        width: 100%;
        display: block;
    }

    .leftSide{
        width: 100%;
        display: block;
    }

    .pokédexButton
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px)
{

    .container{
        display: block;
    }
    .rightSide{
        width: 100%;
        display: block;
    }

    .leftSide{
        width: 100%;
        display: block;
    }

    .pokédexButton
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }
}